/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Zeyada', cursive; */

  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}

body {
  font-family: Marcellus;

  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="1" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>')
      0 0,
    auto; /* The numbers indicate the hotspot position */
}

/* ==== add this class to change hover: cursor also  */
.hover-cursorCSS:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="1" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>')
      0 0,
    auto; /* Adjust hotspot as needed */
}

/* ========= FLEX ========= */

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* ========= gradient text and bg ========= */

.font1 {
  font-family: "Nerko One", cursive;
  font-weight: 600;
  font-style: normal;

  background: linear-gradient(45deg, #000000, #aeaeaee0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.font {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;

  background: linear-gradient(30deg, #000, #aeaeaee0 10%, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.font2 {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;

  background: linear-gradient(90deg, #000, #afb0b7e0, #000, #8f8f8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.font3 {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;

  background: linear-gradient(90deg, #e060ec, #6f51f5,#60b9ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



.logo {
  background: linear-gradient(45deg, #8151f0, #ef41f2d2);
  -webkit-background-clip: text; /* Clipping the background to the text */
  -webkit-text-fill-color: transparent; /* Making the text color transparent */
  background-clip: text; /* Clipping the background to the text for non-WebKit browsers */
}

.gradient-text1 {
  background: linear-gradient(45deg, #ff6f61, #f051b6, #c0a7d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text2 {
  background: linear-gradient(45deg, #1221f6d5, #d438f0ed, #22c2f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text3 {
  background: linear-gradient(45deg, #0d50d8d5, #bc57cded, #22c2f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home-gradient {
  background: linear-gradient(to bottom, #ffffff, #c670ff);
  /* background: linear-gradient(to bottom, #ffffff, #aa48ebcd, #ffffff); */
  /* box-shadow: inset 0px 20px 20px #ffffff; */
}

.feature-shadow {
  box-shadow: 0px 10px 30px rgba(65, 54, 217, 0.478),
    0px -10px 30px rgba(190, 14, 199, 0.274);
  /* overflow-hidden */
  overflow: hidden;
}

/* ====================================== */

.customshadow {
  box-shadow: 0px 20px 40px rgba(94, 88, 211, 0.5),
    0px -20px 40px rgba(211, 88, 205, 0.5);
}



@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }
}

.scaling {
  animation: scaleAnimation 2s infinite; /* Change duration as needed */
}
